* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}
body {
    background-image: url("../img/Backgroun4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'EB Garamond', serif;
    font-family: 'Lobster', cursive;
    width: 100%;
    position: relative;
}
p {
    color: rgb(15, 14, 14);
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px #573cb9;
    
}
.atras_circulo {
    position: absolute;
    left: 56px;
    top: 67px;
    z-index: -1;
}
.contenedor {
    position: relative;
    margin: 5px 80px;
    padding: 5px;
}
.cabecera {
    display: flex;
    justify-content: space-between;
    /* border: 5px solid red; */
}
nav {
    margin: auto 15px;
    padding: 15px;  
    /* border: 5px solid red;  */
}

.enlace {
    background-color: #f88ed4;
    border-radius: 10px;
    color: #573cb9;
    margin: 10px 5px;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;   
}
.active {
    color: green;
    opacity: 0.6;
    border-bottom: 3px solid #5dcad9;
}
.enlace:hover {
    opacity: 0.6;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #f88ed4;
    text-shadow: 2px 2px 5px #573cb9;
    /* border: 5px solid red; */
}
.about {
    margin: 36px 98px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.parrafo {
    color: rgb(15, 14, 14);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: justify;
    text-shadow: 2px 2px 5px #573cb9;
    margin: 30px 30px;
    padding: 66px 34px; 
    background-color: #f88ed457;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-top: 3px solid #573cb9;
    border-bottom:3px solid #573cb9;
    border-radius: 10px;
       
}
.pastel_img{
    border-radius: 15px;
    box-shadow: 2px 2px 2px 5px #573cb9;
}

.contacto2{
    text-align: center;
    margin: 30px 0;
    padding: 10px;
}
footer {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
}
.redes_sociales {
    display: flex;
    margin: 0 20px;
}
.subtitle_redes {
    margin: auto 10px;
    
}
.icono_redes {
    margin: 0 10px;
}
/* Menu */
.menu {
    margin-top: 21px;
    display: flex;
    width: 100%;
    height: 510px;
    /* border: 5px solid red; */
}
.menu_sabores {
    /* border:  2px solid green; */
    width: 389px;
    
}
.img_marco {
    width: 389px;
    height: 506px;
}
.about_sabor {
    /* border: 3px solid #5dcad9; */
    position: absolute;
    top: 123px;
    left: 83px;
}
.decoracion {
    left: 479px;
}
.relleno {
    left: 877px;
}
.subtitulo_sabor {
    font-size: 2rem;
    text-align: center;
    margin: 39px 0;
}
.lista {
    color: rgb(15, 14, 14);
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px #573cb9;
}
li {
    text-decoration: none;
}
.img_sabor {
    border-radius: 10px;
    position: absolute;
    top: 381px;
    left: 71px;
}
.img_decoracion {
    border-radius: 10px;
    position: absolute;
    top: 393px;
    left: 464px;
}
.img_relleno {
    border-radius: 10px;
    position: absolute;
    top: 397px;
    left: 910px;
}

/* Hacer pedidos */
.circulo{
    /* border: 3px solid red; */
    border-radius: 50px;
    background: #ffffff;
    height: 55px;
    width: 55px;
    position: absolute;
    top: 57px;
    left: 561px;
}
.img_nota {
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 4px;
}
.form_pedido {
    background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63 12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%, #73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d 68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%, #00d6f6 100%);
    border-radius: 16px;
    display: flex;
    margin-top: 21px;
    -webkit-box-shadow: -15px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 17px 5px 0px rgba(0,0,0,0.75);
}
.pedido {
    margin: 15px 10px;
}
.from_subtitulo {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}
label {
    color: rgb(15, 14, 14);
    text-shadow: 2px 2px 5px #573cb9;
    font-size: 1.3rem;
    font-weight: 400;
}
.input {
    border: 2px solid #555;
    border-radius: 4px;
    width: 83%;
    padding: 8px 11px;
    margin: 3px 0;
    box-sizing: border-box;
}
input[type=email] {
    width: 83%;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    color: #555;
}
.btn {
    background-color: #f88ed4;
    border: none;
    border-radius: 10px;
    color: #573cb9;
    margin: 10px 5px;
    font-family: 'EB Garamond', serif;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
}
.btns {
    margin: auto 10px;
    text-align: center;
}
.btn:hover {
    opacity: 0.6;
}
.imgform {
    position: absolute;
    left: 552px;
    top: 311px;
}
.imgfrom2 {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    left: 873px;
    top: 111px;
    opacity: 0.8;
}

/* Contacto */
.contacto {
    display: flex;
    justify-content: center;
}
.img_contacto {
    border-radius: 50%;
    border-bottom:3px solid #573cb9;
    border-top:3px solid #573cb9;
    margin-top: 50px;
    width: 400px;
    height: 400px;
}
.about_cont {
    margin: 0 10px;
    padding: 5px;
    background-color: #f88ed457;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-top: 3px solid #573cb9;
    border-bottom:3px solid #573cb9;
    border-radius: 10px;
}
.titlecon {
    font-size: 2.4rem;
    margin-bottom: 35px;
}
.parrafocon {
    text-align: justify;
    margin:44px 102px;
}
.direccion {
    display: flex;
    flex-direction: column;
    margin: 60px 10px;
    text-align: center;
}
.iconcon {
    margin: 45px 15px;
    
}